nav {
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.btn-floating {
    margin-left: 30px;
    margin-bottom: 5px;
}

.google-profile-picture-1 {
    margin-left: 10px;
    border-radius: 20%;
}
